<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item grid-item-less-top-padding no-left-border">
<!--     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt=""> -->
    <h1 style="font-family: 'Playball'; font-size: 2em;">Planning, Directing, Consulting and Coordinating the Perfect Weddings in Knoxville, Tennessee & the Surrounding Areas</h1>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image-1 grid-item-less-top-padding no-right-border">
<!--     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt=""> -->
    <h1>Hi, I’m Angie Froemel!</h1>  
    <p>As a professional wedding coordinator, I have the pleasure of helping brides realize the wedding of their dreams, without the emotional mistake of doing it all themselves.  From creative and memorable ideas, to making sure the day is organized down to the minute, my goal is to ensure brides, grooms, and their families are able to enjoy their beautiful day, stress-free, no matter their budget.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big no-left-border">
    <h1>Absolute Wedding Perfection’s weddings have 
    been featured in:</h1>
    <p>Enchanted Brides Magazine Knoxville Magazine Brides Magazine and the UTK Tourchbearer!</p>
    <p>
    Also featured on Wedding Gawker, Borrowed and Blue, the winner of the WeddingWire Bride’s Choice Award, and one of the most viewed blogs on The Bride Link!</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-image-second no-right-border">
    <h1>Personal Vision</h1>
    <p>Absolute Wedding Perfection knows a bride’s ideas and personal vision are essential to creating a dazzling event, that is uniquely “you.”  But brides should be able to enjoy that vision too!</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-image-third no-left-border">
<!--     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt=""> -->    
    <h1>Flawless Events</h1>
    <p>A wedding planner helps create a unique day no one will ever forget.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
<!--     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt=""> -->    
    <h1>Absolute Savings</h1>
    <p>A wedding planner saves time, negotiates discounts & avoids common financial pitfalls so many brides make.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item no-right-border">
<!--     <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt=""> -->
    <h1>Peace of Mind</h1>
    <p>A wedding planner eases the stress leading up to & on this most special day.</p>
  </a>
</div>
