.centered-navigation {
  $centered-navigation-font-color: $sky-blue;
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: transparentize($header-footer-bg-color, 0.2);
  $centered-navigation-color: transparentize($centered-navigation-font-color, 0);
  $centered-navigation-color-hover: $centered-navigation-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 12em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  font-family: $serif;
  min-height: $centered-navigation-height;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0px;

  // Mobile view

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-mobile-menu {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  // Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
    }

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }

  // The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;

      a {
        padding-right: $centered-navigation-item-padding;
        text-decoration: none;
      }
    }

    a {
      color: $centered-navigation-color;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $centered-navigation-color-hover;
        text-decoration: none;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: .6;
  }
  
  // Sub menus styling was deleted
}
  
.centered-navigation-wrapper ul li {
  float: none;
}

.header-fa-sun-o {
  position: relative;
  top: 7px;
}

//menu burger stuff
$burger-color: transparentize($gray-blue, 0.5);

.menu-burger-icon {
  color: $burger-color;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 0em;
  right: 0.4em;
  margin-top: 0.4em;
  z-index: 99999;
  opacity: 1;
  height: 3em;
  width: 3em;
  padding-top: 1em;
  border: 1px solid $burger-color;
  border-radius: 100%;
}
