$side-image-path: "/images/wedding_images/seating_flowers.png";
//option-2: "/images/wedding_images/venue_2.png";
$knoxville-map-row-background-color: $light-tan;
$side-image-background-top: #B5EBEB;
$side-image-background-bottom: #5DAC5D;
$side-image-border: 1px solid gray;

#map_canvas {
  @include span-columns(18);
  height: 400px;
  border: $side-image-border;
}

#map_canvas img { 
  max-width: none; // to prevent UI control bug
}

#map_canvas .content {
  padding: .7em .5em 1em .5em;
}

#map_canvas .firstHeading {
  font-family: $serif;
  font-size: 1.4em;
  margin-bottom: .4em;
}

#map_canvas .bodyContent p {
  font-family: $sans-serif;
  font-size: 1em;
  margin-bottom: 0;
}

#map_canvas .bodyContent p:last-of-type {
  border-top: 1px solid silver;
  margin-top: .5em;
  padding-top: .3em;
}

//stuff for the side content

.map-and-sidebar-row {
  @include span-columns(12);
  
  background: $knoxville-map-row-background-color;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-top: 6em;
  margin-bottom: 6em;
  border-top: $side-image-border;
  border-bottom: $side-image-border;

  @include media($large-screen) {
    @include row(table);
  }

  .side-image-container {
    @include background(url($side-image-path), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    border-bottom: $side-image-border;
    background-size: cover;
    display: block;
    min-height: 12em;
    // padding: 3em;
    text-align: center;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .map-container {
    @include span-columns(8);

    @include media($large-screen) {
      @include span-columns(8);
    }
  }

  @include reset-display();
}

.content-over-image {
  @include shift(3);
  @include span-columns(4);
  position: relative;
  top: 565px;
  height: 400px;
  text-align: center;

  & p {

  }

  & h1 {
    color: white;
    font-family: $serif;
  }

  & button {

  }
}






