$parallax-window-height: 23em;
$parallax-background-height: $parallax-window-height * 2;
$parallax-start-position: $header-height + 2em;
$parallax-photo-path: "/images/wedding_images/flowers_1b.png";

.parallax-window {
  height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  // margin-top: $parallax-start-position;
  margin-bottom: $buffer;
  box-shadow: inset 0 0 10px #000000;
}

.parallax-static-content {
  font-family: $serif;
  font-size: 5em;
  color: $cadet-blue;
  text-shadow: 2px 2px #555;
  padding-top: 1.5em;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url($parallax-photo-path) repeat;
  background-size: cover;
  background-color: $sky-blue;
  background-position: top;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

// Based on http://codepen.io/skeurentjes/
