@import "neat-helpers";

// Neat Overrides
$grid-columns: 18;
$grid-section-width: 100% / $grid-columns;
$column: $grid-section-width*0.75;
$gutter: $grid-section-width*0.25;
$max-width: 100%;

// Neat Breakpoints
$small-screen: em(320);
$medium-screen: em(640);
$large-screen: em(860);

// Bonobos - 600, 800, 1000

$small-screen-columns: 6;
$mediums-screen-columns: 12;
$large-screen-columns: 18;

$small-screen-up: new-breakpoint(min-width $small-screen $small-screen-columns);
$medium-screen-up: new-breakpoint(min-width $medium-screen $mediums-screen-columns);
$large-screen-up: new-breakpoint(min-width $large-screen $large-screen-columns);
