<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Package A</a>
    <div class="tab-content">
      <div class="center-align-tab-titles">
        <h3>Ceremony Direction</h3>
        <p><strong>Arrival with Bride/Departure after Ceremony</strong></p>
      </div>
      <p> • 1 hour rehearsal direction.</br>
          • Ceremony timeline for wedding party and all vendors.</br>
          • Pre-ceremony support to the photographer.</br>
          • Floral liaison (coordination of bouquets, boutonnieres & corsages).</br>
          • Ceremony set up, including candle lighting.</br>
          • Coordination of guest and family seating.</br>
          • Wedding party processional and recessional.</br>
          • Musician and ceremony vendor collaboration. </br>
          • Ceremony cleanup.</br>
          • Wedding Day Emergency Kit.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Package B</a>
    <div class="tab-content">
      <div class="center-align-tab-titles">      
        <h3>Ceremony & Reception Direction</h3>
        <p><strong>Arrival with Bride/Departure after Reception</strong></p>
      </div>
      <p><strong>Includes all benefits of Package A, plus:</strong></br>
          • Ceremony & Reception timeline for wedding party and all vendors.</br>
          • All ceremony and reception setup and vendor collaboration.</br>
          • Coordination of transportation to reception site.</br>
          • Reception venue liaison (delivery of guest book, throw away bouquet, etc.).</br>
          • Direction of toasting and cake cutting ceremonies, first dances, bridal </br>bouquet/garter tosses, grand entrance & grand exit.</br>
          • All ceremony and reception clean up.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Package C</a>
    <div class="tab-content">
      <div class="center-align-tab-titles">      
        <h3>Full Event Planning, Ceremony & Reception Direction</h3>
      </div>
      <p><strong>Includes all benefits of Packages A & B, plus:</strong></br>
      • Guidance with hiring vendors, securing contracts, and negotiations.</br>
      • Develop complete wedding weekend timeline.</br>
      • Wedding budget.</br>
      • Unlimited planning meetings</br>
      </br>
      <strong>Coordination of all aspects of the event including:</strong></br>
      • Ceremony site</br>
      • Reception site</br>
      • Rehearsal dinner</br>
      • Bridesmaids’ luncheon</br>
      • Caterer & Cake </br>
      • Florist & decor</br>
      • Photographer & Videographer</br>
      • Lighting</br>
      • Linens</br>
      • Minister/Officiant</br>
      • Tenting & rentals</br>
      • Musicians (bands, DJ, strings)</br>
      • Transportation (limo, shuttles, horse & carriage)</br>
      • Accommodations (hotels, B&B)</br>
      • Attire</br>
      • Hair and Makeup</br>
      • Meteorologist on Speed Dial!</p>
    </div>
  </li>
</ul>

