<!-- 
Find syntax for Features that can be styled here:

https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType  

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->

<div class="content-over-image">
  <h1>Weddings Map</h1>
</div>
<div class="map-and-sidebar-row">
  <div class="side-image-container"></div>
    <div class="map-container">

      <div id="map_canvas"></div>

    </div>
  </div>
</div>

