<!DOCTYPE html>
<html>
  <head>
  	<title>Absolute Wedding Perfection</title>
  	<%= stylesheet_link_tag    'application', media: 'all'%>
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  	<%= csrf_meta_tags %>
  	<base href="/"/>
  </head>

  <body ng-app="awp" ><!-- Page Content -->
  	<%= yield %>	
  </body>

</html>
